body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  height: 600px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: skyblue;
}

#container {
  height: 90%;
  width: 90%;
}
